*{
   box-sizing: border-box;
   margin: 0px;
}

canvas{ background-color: black; }



.wrapper {
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: rgb(8, 100, 70);
}
.header{
   height: 40px;
   width: 35%;
   margin: 10px auto;
   background-color: rgb(255, 255, 255);
   border-radius: 30px;
   text-align: center;
   font-size: 23px;
}
#canvas{
   margin: 10px auto;
}
